.featured__product__card {
  background-color: #14151b !important;
  border-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 8px !important;
  position: relative;
}

.card__image_wrapper {
  height: 250px !important;
}
.card__image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0 !important;
}

.rating {
  color: goldenrod;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 14px;
}

.price {
  border-top: 0.5px solid rgba(255, 255, 255, 0.1);
  padding-top: 15px;
}

.my_btn {
  background-color: #21252c !important;
  color: rgba(255, 255, 255, 0.3) !important;
  width: 100%;
  border-radius: 20px !important;
  text-transform: uppercase;
}

.discount {
  color: #30343c;
  background: #ffcd05;
  line-height: 25px;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  padding: 0 5px;
  position: relative;
  margin-right: 10px;
}
.discount::after {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid #ffcd05;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}
.sale_label{
  position: absolute;
  color: #fff;
  background: url(https://cdn.shopify.com/s/files/1/3012/8606/t/19/assets/bkg_label_sale.png?v=11131584218453096426) center no-repeat;
  line-height: 22px;
  padding-left: 5px;
  min-width: 56px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 41px;
  right: 14px;
  text-transform: uppercase;
  font-size: 10px;
  z-index: 3;
  top: 15px;
}

@media (max-width: 767.98px) {
  .card__image_wrapper {
    height: 375px !important;
  }
}
