.top_footer {
    padding: 80px 0;
    border-top: 1px solid #DD1319;
}
.title {
  height: 65px;
}

.menu_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2) !important;
  font-weight: 500;
}
.menu_link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6) !important;
}

.menu_card {
  border-left: 0.1px solid rgba(255, 255, 255, 0.1);
}

.payment{
    height: 70px;
}

.conact_icon{
    padding: 0 8px;
    color: rgba(255, 255, 255, 0.4);
}
.conact_icon:hover{
    color: rgba(255, 255, 255, 0.6);
}