.menu__bar {
  background-color: #22232b;
  border-bottom: 1px solid #e51515;
}

/* .product_page_menu .nav-link {
  color: black !important;
  clip-path: polygon(10% 0, 98% 0, 89% 100%, 1% 100%) !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
} */
.icon {
  color: white;
  font-size: 20px !important;
  margin-left: 10px !important;
  cursor: pointer;
}
.icon svg {
  margin-left: 10px !important;
}
.badged {
  font-size: 11px;
  border-radius: 50%;
  padding: 2px 3px !important;
}
.product_page_menu {
  /* width: 100%;
  position: absolute;
  top: 20px; */
}
