.title_border {
  background-color: rgba(255, 255, 255, 0.2);
  clip-path: polygon(0 0, 100% 0, 97% 50%, 100% 100%, 0 100%, 3% 51%);
  text-align: center;
  position: relative;
  padding: 21px 130px !important;
}
.inside {
  position: absolute;
  top: 1px;
  left: 1px;
  margin: auto;
  right: 1px;
  bottom: 1px;
  clip-path: polygon(0 0, 100% 0, 97% 50%, 100% 100%, 0 100%, 3% 51%);
  background-color: #14151b;
}
